[Desktop Entry]
Name=Plasma Keyboard
Name[ar]=لوحة المفاتيح بلازما
Name[ca]=Teclat del Plasma
Name[ca@valencia]=Teclat de Plasma
Name[de]=Plasma-Tastatur
Name[es]=Teclado de Plasma
Name[eu]=Plasma teklatua
Name[fi]=Plasma-näppäimistö
Name[fr]=Clavier de Plasma
Name[gl]=Teclado de Plasma
Name[he]=מקלדת פלזמה
Name[hu]=Plasma Billentyűzet
Name[ia]=Claviero de Plasma
Name[it]=Tastiera di Plasma
Name[ka]=Plasma-ის კლავიატურა
Name[ko]=Plasma 키보드
Name[lv]=„Plasma“ tastatūra
Name[nl]=Plasma-toetsenbord
Name[nn]=Plasma-tastatur
Name[pa]=ਪਲਾਜ਼ਮਾ ਕੀਬੋਰਡ
Name[pl]=Klawiatura Plazmy
Name[pt_BR]=Teclado do Plasma
Name[ru]=Клавиатура Plasma
Name[sl]=Plasma tipkovnica
Name[sv]=Plasma tangentbord
Name[tr]=Plasma Klavye
Name[uk]=Клавіатура Плазми
Name[x-test]=xxPlasma Keyboardxx
Name[zh_CN]=Plasma 键盘
Name[zh_TW]=Plasma 鍵盤
Exec=plasma-keyboard
Type=Application
X-KDE-Wayland-VirtualKeyboard=true
Icon=input-keyboard-virtual
NoDisplay=true
