[Desktop Entry]
Name=Plasma Keyboard
Name[ca]=Teclat del Plasma
Name[es]=Teclado de Plasma
Name[ka]=Plasma-ის კლავიატურა
Name[nl]=Plasma-toetsenbord
Name[sl]=Plasma tipkovnica
Name[sv]=Plasma tangentbord
Name[tr]=Plasma Klavye
Name[uk]=Клавіатура Плазми
Name[x-test]=xxPlasma Keyboardxx
Exec=plasma-keyboard
Type=Application
X-KDE-Wayland-VirtualKeyboard=true
Icon=input-keyboard-virtual
NoDisplay=true
